
/*-------------------------------------Null styles------------------------------------------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*----------------------------------------------------------------------------------------------*/
/*------------------------------service classes--------------------------*/
:root {
    /* Colors
        Primary*/

--soft-orange: hsl(35, 77%, 62%);
--soft-red: hsl(5, 85%, 63%);
    /*  Neutral */
--off-white: hsl(36, 100%, 99%);
--grayish-blue: hsl(233, 8%, 79%);
--dark-grayish-blue: hsl(236, 13%, 42%);
--very-dark-blue: hsl(240, 100%, 5%);
}

html{
    font-size: 15px;
}
body{
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--off-white);
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    padding: 0 1em;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/*-------------------------------- header -----------------*/
.header__container {
    margin: 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 3em;
    cursor: pointer;
}
.header__logo > a {
    display: block;
}
.header__logo > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu__image {
    cursor: pointer;
}
.hidden {
    display: none;
}
nav {
    position: fixed;
    background-color: var(--off-white);
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    transition: width 0.4s linear;
}

nav > .menu__close {
    display: none;
    position: absolute;
    top: 2em;
    right: 1.5em;
    cursor: pointer;
}
nav > ul {
    position: relative;
    top: 10em;
    left: 1.5em;
}
nav > ul > li {
    line-height: 3.5rem;
    cursor: pointer;
}
nav > ul > li > a {
    color: #000;
    font-size: 1.2rem;
}
/* -------------------------------- main ---------------*/
.page {
}
.page__home {
}
.home {
}
.home__main-image {
}
.home__main-image_mobile {
}
.home__main-image_desktop {
}
.home__button {
}
.page__news {
}
.news {
}
.news__article {
}
.article {
}
.page__popular {
}
.popular {
}
.popular__image {
}
.popular__top {
}


